<script src="https://how2j.cn/study/vue.min.js"></script>

<div id="div1">
  
  <button v-on:click="toggle">皮皮点</button>
  <div v-if="show">皮皮是个大憨憨</div> 
   <div v-if="show"> 皮皮是个大憨憨</div> 
   <div v-if="show">皮皮是个大憨憨</div> 
   <button v-on:click="toggle1" v-if="show" >皮皮点</button>
  <div v-if="show1"> 皮皮是个大憨憨</div> 
   <div v-if="show1"> 皮皮是个大憨憨</div> 
   <div v-if="show1"> 皮皮是个大憨憨</div> 
  <button v-on:click="toggle2" v-if="show1" >皮皮点</button>
   <div v-if="show2"> 皮皮是个大憨憨</div> 
   <div v-if="show2"> 皮皮是个大憨憨</div> 
   <div v-if="show2"> 皮皮是个大憨憨</div> 
  <button v-on:click="toggle3" v-if="show2" >皮皮点</button>
   <div v-if="show3"> 皮皮是个大憨憨</div> 
   <div v-if="show3"> 皮皮是个大憨憨</div> 
   <div v-if="show3"> 皮皮是个大憨憨</div> 
   <button v-on:click="toggle4" v-if="show3" >皮皮点</button>
     <div v-if="show4">你说憨不憨</div> 
</div>
   
<script>
   
new Vue({
      el: '#div1',
      data: {
          show:false,
        show1:false,
        show2:false,
        show3:false,
         show4:false,
      },
  
      methods:{
          toggle: function(){
              this.show=!this.show;
              this.show1=false;
             this.show2=false;
             this.show3=false;
             this.show4=false;
          },
        toggle1: function(){
              this.show1=!this.show1;
              this.show2=false;
             this.show3=false;
             this.show4=false;
          },
         toggle2: function(){
              this.show2=!this.show2;
              this.show3=false;
             this.show4=false;
          },
         toggle3: function(){
              this.show3=!this.show3;
             this.show4=false;
          },
        toggle4: function(){
              this.show4=!this.show4;
          },
      }
    })
   
</script>
