<script src="https://how2j.cn/study/vue.min.js"></script>

<div id="div1">
  
  <button v-on:click="toggle">切换隐藏显示</button>
  <div v-if="show"> 默认这一条是看得见的</div> 
   <div v-if="show"> 默认这一条是看得见的</div> 
   <div v-if="show"> 默认这一条是看得见的</div> 
   <button v-on:click="toggle1" v-if="show" >切换隐藏显示</button>
  <div v-if="show1"> 默认这一条是看得见的</div> 
   <div v-if="show1"> 默认这一条是看得见的</div> 
   <div v-if="show1"> 默认这一条是看得见的</div> 
  <button v-on:click="toggle2" v-if="show2" >切换隐藏显示</button>
    
</div>
   
<script>
   
new Vue({
      el: '#div1',
      data: {
          show:false,
        show1:false,
        show2:false,
      },
  
      methods:{
          toggle: function(){
              this.show=!this.show;
          },
        toggle1: function(){
              this.show1=!this.show1;
          },
         toggle2: function(){
              this.show2=!this.show1;
          },
      }
    })
   
</script>
