<script src="https://how2j.cn/study/vue.min.js"></script>

<div id="div1">
  
  <button @click="toggle">切换隐藏显示</button>
  <div v-if="show"> 皮皮是个大憨憨</div> 
  <div v-if="show"> 皮皮是个大憨憨</div>
  <div v-if="show"> 皮皮是个大憨憨</div> 
  <button  v-if="show" @:click="toggle1">切换隐藏显示</button>
  
    
</div>
   
<script>
   
new Vue({
      el: '#div1',
      data: {
          show:true
      },
      methods:{
          toggle: function(){
              this.show=!this.show;
            
          }
          toggle1: function(){
              this.show=!this.show;
            
          }
      }
    })
   
</script>

